:root {
    --primary: #1c262f;
    --primary-light: #212d37;
    --secondary: #0ee951;
    --tertiary: #00dabf;
    --gradient: linear-gradient(to right, #0ee951, #00dabf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

button {
    font-family: sans-serif;
}

p,
ul,
h4 {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Section Background */
.home {
    height: 110vh;
    position: relative;
}


.footer {
    background-color: var(--primary);
}


.location {
    background-color: var(--primary-light);
}

.bottom {
    background-color: black;
}

/* Gradient Border And Background On Icons */
.home_text,
.home .fas,
.informacion .fas {
    padding: 15px 0;
    background: -webkit-gradient(linear,
            left top,
            left bottom,
            from(#0ee951),
            to(#00dabf));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
    cursor: pointer;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.para {
    width: 50%;
}

.para-light {
    opacity: 0.7;
}


.informacion .container-fluid .row div:first-child {
    background-color: var(--primary);
}

.informacion .container-fluid .row div:last-child {
    background-color: white;
}

.informacion .container-fluid .row div:nth-child(2) {
    background-color: var(--primary-light);
}



.btn {
    color: white;
    border-radius: 0;
    border-width: 2px;
    padding: 10px 30px;
    border-image-slice: 1;
    background-image: none;
    background: transparent;
    border-image-source: var(--gradient);
    box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn:hover {
    color: white;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 30px;
    transform: translate(5px, 5px);
}

/* Email - Newsletter Button */
.btn-secondary {
    color: black;
    border-width: 2px;
    padding: 10px 30px;
    border-image-slice: 1;
    background-image: none;
    background: transparent;
    border-image-source: var(--gradient);
}

.btn-secondary:hover {
    color: black;
    padding: 10px 30px;
    background-image: var(--gradient);
}

/* Other Pages Button */
.btn-tertiary {
    color: black;
    border-radius: 0;
    border-width: 2px;
    padding: 10px 30px;
    border-image-slice: 1;
    background-image: none;
    background: transparent;
    border-image-source: var(--gradient);
    box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn-tertiary:hover {
    color: black;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 30px;
    transform: translate(5px, 5px);
}


