:root {
    --primary: #1c262f;
    --primary-light: #212d37;
    --secondary: #0ee951;
    --tertiary: #00dabf;
    --gradient: linear-gradient(to right, #0ee951, #00dabf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

button {
    font-family: sans-serif;
}

p,
ul,
h4 {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Section Background */


.servicios {
    height: 110vh;
    position: relative;
}

.services,
.footer {
    background-color: var(--primary);
}



.company {
    background-color: var(--primary-light);
}

.bottom {
    background-color: black;
}

/* Gradient Border And Background On Icons */


.services .fas {
    padding: 15px 0;
    background: -webkit-gradient(linear,
            left top,
            left bottom,
            from(#0ee951),
            to(#00dabf));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
    cursor: pointer;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


